.link-active {
    border-bottom: 2px solid #CE3827 ;
}

.slick-item {
    width: 250px;
    margin-right: 16px;
}


@media (max-width: 768px) {
   .event-title {
       font-size: 11px !important;
   }

    .event-subtitle {
        font-size: 12px !important;
    }

    .tab-img {
        width: 130px !important;
    }

    li .nav-link {
        font-size: 13px !important;
    }

    .nav-item .nav-link img {
        width: 13px !important; /* Ukuran gambar diatur menjadi 13px */
        height: 13px !important;
    }

}

